Inverse_pendulum_bot/
RPC_Arm_Project/
dice_temphumid_rng_pcb/dice_temphumid_rng_pcb_kicad/first_pcb-backups/
room_cleaner/chassis/
room_cleaner/datasheets/6V_Servo.pdf
room_cleaner/datasheets/HX711.pdf
room_cleaner/datasheets/Load_Cell.pdf
room_cleaner/datasheets/Raspberry_Pi_4_Model_B.pdf
room_cleaner/datasheets/ToF/
Power_sensor_hub/Board/Board-backups/